@keyframes fina11yColorChanger {
    0% {
        background-color: rgb(133, 133, 133);
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: rgb(133, 133, 133);
    }
}

.tota11y-dark-color-scheme {
    background-color: #333 !important;
    color: #f2f2f2 !important;
}

.tota11y-no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/**
 * Base styles for tota11y to make sure things look consistent under
 * reasonable circumstances.
 */

.tota11y, .tota11y * {
    border: none !important;
    background-color: inherit !important;
    box-sizing: border-box !important;
    color: #f2f2f2 !important;
    font-family: Arial !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 1.35 !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    text-shadow: none !important;
}

.tota11y * {
    height: auto !important;
    width: auto !important;
}

.tota11y strong {
    font-weight: bold !important;
}

.tota11y pre, .tota11y code {
    background-color: #ddd !important;
    border: none !important;
    border-radius: 0 !important;
    color: inherit !important;
    font-family: monospace !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.tota11y pre {
    padding: 5px 10px !important;
    margin: 0 0 10px !important;
    overflow-x: scroll !important;
}

.tota11y code {
    border-radius: 2px !important;
    display: inline !important;
    padding: 1px !important;
}

.tota11y i, .tota11y em {
    font-style: italic !important;
}

.tota11y p {
    margin: 0 0 10px !important;
}

.tota11y a, .tota11y a:hover, .tota11y a:focus {
    background-color: inherit !important;
    color: inherit !important;
    text-decoration: none !important;
}

.tota11y-toolbar {
    background-color: #333 !important;
    color: #f2f2f2 !important;
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: 10px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    overflow: hidden !important;
    z-index: 9998 !important;
}

.tota11y-toolbar-toggle {
    background-color: #333 !important;
    display: block !important;
    padding: 7px !important;
    width: 100% !important;
}

.tota11y-toolbar-logo {
    height: 25px !important;
    margin: 0 auto !important;
    text-align: center !important;
    width: 35px !important;
}

.tota11y-toolbar-logo svg {
    height: 25px !important;
}

.tota11y-toolbar-body {
    display: none !important;
}

.tota11y-toolbar.tota11y-expanded .tota11y-toolbar-body {
    display: block !important;
}

.tota11y-sr-only {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.tota11y-dark-color-scheme {
    background-color: #333 !important;
    color: #f2f2f2 !important;
}

.tota11y-no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.tota11y-label {
    background-color: #ffe800 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    cursor: default !important;
    padding: 3px !important;
    position: absolute !important;
    z-index: 9997 !important;
}

.tota11y-label-error {
    /* background-color:rgb(133, 133, 133) !important; */
    background-color: inherit !important;
    /* animation: fina11yColorChanger 5s infinite !important; */
}

/* .tota11y-label-error :hover{
            background-color:rgb(133, 133, 133) !important;
            animation: none;
        } */

.tota11y-label-error-icon {
    display: block !important;
    float: left !important;
    margin-right: 3px !important;
    width: 12px !important;
    /* animation: fina11yColorChanger 5s infinite; */
}

.tota11y-label-success {
    background-color: #b9eda9 !important;
}

.tota11y-label-warning {
    background-color: #ffe800 !important;
}

.tota11y-label, .tota11y-label-text, .tota11y-label-detail, .tota11y-label-link, .tota11y-label-help {
    color: rgb(255, 255, 255) !important;
    /* //test */
    /* background-color: inherit !important; */
    font-size: 12px !important;
}

.tota11y-label-text {
    float: left !important;
}

.tota11y-label-detail {
    clear: both !important;
    display: none !important;
    max-width: 400px !important;
    padding: 20px 20px 20px 20px !important;
}

.tota11y-label:hover .tota11y-label-detail {
    display: block !important;
    /* min-height: 300px !important; */
}

.tota11y-label-help {
    float: left !important;
    margin-left: 5px !important;
}

.tota11y-label-link:hover, .tota11y-label-link:focus {
    opacity: 0.6 !important;
    text-decoration: underline !important;
}

.tota11y-highlight {
    background-color: rgba(120, 130, 200, 0.4) !important;
    pointer-events: none !important;
    position: absolute !important;
    z-index: 9999 !important;
}

.A11Y-fa .tota11y-dark-color-scheme {
    background-color: #333 !important;
    color: #f2f2f2 !important;
}

.tota11y-no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.tota11y-info {
    background-color: #333 !important;
    color: #f2f2f2 !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border-radius: 5px !important;
    position: fixed !important;
    z-index: 9998 !important;
}

.tota11y-info-controls {
    float: right !important;
}

.tota11y-info-annotation-toggle {
    float: left !important;
    margin-right: 10px !important;
}

.tota11y-info-hidden {
    display: none !important;
}

.tota11y-info-dismiss-trigger {
    font-size: 25px !important;
    line-height: 25px !important;
    position: relative !important;
    top: -2px !important;
}

.tota11y-info-title, .tota11y-info-body {
    padding: 10px 10px 0 !important;
}

.tota11y-info-title:hover {
    cursor: move !important;
}

.tota11y-info-tabs {
    display: flex !important;
    margin: 0 !important;
    padding: 0 0 10px !important;
}

.tota11y-info-tab {
    height: 30px !important;
    list-style: none !important;
    position: relative !important;
    text-align: center !important;
    width: 100% !important;
    flex-grow: 1 !important;
}

.tota11y-info-tab-anchor {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    text-align: center !important;
}

.tota11y-info-tab-anchor-text {
    line-height: 30px !important;
}

.tota11y-info-tab:hover {
    background-color: #555 !important;
}

.tota11y-info-tab.active, .tota11y-info-tab.active:hover {
    background-color: #333 !important;
}

.tota11y-info-tab.active .tota11y-info-tab-anchor-text {
    color: rgb(238, 0, 0) !important;
    font-size: medium !important;
}

.tota11y-info-sections {
    position: relative !important;
    /* height: 470px !important;
    width: 600px !important; */
    width: 450px !important;
    height: 350px !important;
}

.tota11y-info-section {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #333 !important;
    display: none !important;
    overflow-y: scroll !important;
    padding: 10px !important;
}

.tota11y-info-section, .tota11y-info-section * {
    color: #333 !important;
}

.tota11y-info-section.active {
    display: block !important;
}

.tota11y-info-errors {
    margin: 0 !important;
    padding: 0 !important;
}

.tota11y-info-error {
    list-style: none !important;
    margin-bottom: 10px !important;
}

.tota11y-info-error-trigger {
    display: block !important;
}

.tota11y-info-error-trigger.trigger-highlight {
    background-color: rgba(120, 130, 200, 0.4) !important;
}

.tota11y-info-error-chevron {
    display: inline-block !important;
    font-size: 20px !important;
    height: 14px !important;
    line-height: 14px !important;
    margin-right: 3px !important;
    transform: rotateZ(90deg) !important;
    transform-origin: 3px 8px !important;
    transition: transform ease-in-out 50ms !important;
}

.tota11y-info-error-trigger.tota11y-collapsed .tota11y-info-error-chevron {
    transform: rotateZ(0deg) !important;
}

.tota11y-info-error-title {
    font-weight: bold !important;
}

.tota11y-info-error-scroll {
    float: right !important;
    margin-top: 3px !important;
    padding-left: 5px !important;
}

.tota11y-info-error-scroll-glyph {
    border-color: #333 !important;
}

.tota11y-info-error-scroll:hover .tota11y-info-error-scroll-glyph {
    border-color: #999 !important;
}

.tota11y-info-error-scroll-lens {
    border: 1px solid !important;
    border-radius: 50% !important;
    height: 8px !important;
    width: 8px !important;
}

.tota11y-info-error-scroll-handle {
    border-left: 1px solid !important;
    height: 7px !important;
    transform: translateX(-2px) translateY(-2px) rotate(45deg) !important;
    width: 1px !important;
}

.tota11y-info-error-description {
    font-size: 13px !important;
    padding: 10px 0 0 !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.tota11y-info-error-description-code-container {
    margin-top: 10px !important;
}

.tota11y-info-error-description-code-container code {
    display: block !important;
    margin-top: 10px !important;
    padding: 5px 10px !important;
    word-wrap: break-word !important;
}

.tota11y-info-error-description.tota11y-collapsed {
    display: none !important;
}

.tota11y-info-error-count {
    background-color: red !important;
    border-radius: 20px !important;
    color: white !important;
    display: inline !important;
    margin-left: 5px !important;
    padding: 1px 8px !important;
}

.A11Y-fa.tota11y-dark-color-scheme {
    background-color: #333 !important;
    color: #f2f2f2 !important;
}

.tota11y-no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.tota11y-plugin {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border-bottom: 1px solid #555 !important;
    list-style: none !important;
}

.tota11y-plugin-switch {
    align-items: center !important;
    cursor: pointer !important;
    display: flex !important;
    padding: 12px 12px 12px 0 !important;
    margin: 0 !important;
}

.tota11y-plugin-indicator {
    margin: 0 15px !important;
}

.tota11y-plugin-indicator {
    border-radius: 16px !important;
    border: 1px solid #999 !important;
    color: transparent !important;
    font-size: 13px !important;
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 0 0 1px !important;
    width: 16px !important;
}

.tota11y-plugin-checkbox:focus+.tota11y-plugin-indicator {
    border-color: #639b24 !important;
    background-color: #49721a !important;
    color: #49721a !important;
}

.tota11y-plugin-checkbox:checked+.tota11y-plugin-indicator {
    background-color: #639b24 !important;
    border-color: #639b24 !important;
    color: white !important;
}

.tota11y-plugin-title {
    font-weight: bold !important;
}

.tota11y-plugin-description {
    font-size: 11px !important;
    font-style: italic !important;
    width: 200px !important;
    margin-right: 3px !important;
}

.tota11y-plugins-separator {
    font-size: 12px !important;
    margin: 7px 15px 0 !important;
    text-transform: uppercase !important;
}

.A11Y-fa.tota11y-swatches {
    margin-left: 5px !important;
    margin-right: 5px !important;
    position: relative !important;
    top: 1px !important;
}

.tota11y-swatch {
    border: 1px solid #000 !important;
    display: inline-block !important;
    height: 12px !important;
    width: 12px !important;
}

.tota11y-contrast-suggestion {
    margin: 0 0 15px 15px !important;
}

.tota11y-color-hexes {
    font-family: monospace !important;
}

.A11Y-fa.tota11y-dark-color-scheme {
    background-color: #333 !important;
    color: #f2f2f2 !important;
}

.tota11y-no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.tota11y-heading-outline {
    color: #333 !important;
}

.tota11y-heading-outline-entry {
    margin-bottom: 8px !important;
}

.tota11y-heading-outline-entry.heading-level-1 {
    margin-left: 0 !important;
}

.tota11y-heading-outline-entry.heading-level-2 {
    margin-left: 20px !important;
}

.tota11y-heading-outline-entry.heading-level-3 {
    margin-left: 40px !important;
}

.tota11y-heading-outline-entry.heading-level-4 {
    margin-left: 60px !important;
}

.tota11y-heading-outline-entry.heading-level-5 {
    margin-left: 80px !important;
}

.tota11y-heading-outline-entry.heading-level-6 {
    margin-left: 100px !important;
}

.tota11y-heading-outline-level {
    position: relative !important;
    top: -2px !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    margin-right: 5px !important;
    padding: 2px 3px !important;
    pointer-events: none !important;
}

.A11Y-fa.tota11y-dark-color-scheme {
    background-color: #333 !important;
    color: #f2f2f2 !important;
}

.tota11y-no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.tota11y-outlined {
    outline: 2px solid #7882c8 !important;
}

.tota11y-nothingness {
    color: #888 !important;
}

#moveable {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    resize: both;
    overflow: auto;
    top: 183px;
    left: 1170px;
    user-select: inherit;
}

#moveableBody {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.fina11y-bot {
    /* Green */
    border: none;
    color: white;
    padding: 5px 17px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    max-width: 40%;
    width: 40% !important;
    text-align: center !important;
}

.fina11y-bot-green {
    background-image: linear-gradient(to bottom, #0dee3e, #1fdd33, #26cc27, #2abc1c, #2bac0f) !important;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2abc1c !important;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    float: right !important;
    border: 2px solid #2abc1c !important;
}

.fina11y-bot-red {
    /* background-image: linear-gradient(to top, #ee0d2a, #ea2a35, #e53b3f, #e04849, #da5353) !important; */
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330 !important;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border: 2px solid #ed3330 !important;
}

.fina11y-bot-red:hover, .fina11y-bot-green:hover {
    background: #000000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

textarea {
    color: white;
}

/* my css */

.tota11y-add-bg-boder {
    /* border: solid 2px red !important; */
    border: 2px solid rgb(255, 0, 0) !important;
}

/* #fina11y-error-indication-transperent-div{
            position: relative;
            top: -100px;
        } */

textarea.tota11y-error-suggest-txtarea {
    background-color: #a8a8a8 !important;
    padding: 5px 5px 5px 5px !important;
    margin-top: 5px !important;
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important;
    /* Firefox, other Gecko */
    box-sizing: border-box !important;
}

textarea.tota11y-error-suggest-txtarea {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    /* font-size: 1em !important; */
    /* font-size: 87.5% !important; */
    color: #000000 !important;
    word-break: break-word !important;
}

.fina11y-completed-badge {
    margin-left: 5px !important;
    display: inline-block !important;
    padding: 0.25em 0.4em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.25rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    color: #fff !important;
    background-color: #28a745 !important;
}

/* #fina11y-error-highlighting-main-div {
    animation: fina11yColorChanger 5s infinite !important;
    padding: 10px 10px 10px 10px !important;
}

#fina11y-error-highlighting-main-div :hover {
    animation-play-state: paused;
    animation-iteration-count: 1;
    background-color: rgb(133, 133, 133) !important;
} */

/* element highlighter warning glow */

.fina11y-error-highlighting-main-div.tota11y.tota11y-annotation-contrast.tota11y-label.tota11y-label-error {
    animation: fina11yColorChanger 5s infinite !important;
    padding: 10px 10px 10px 10px !important;
}

.fina11y-error-highlighting-main-div.tota11y.tota11y-annotation-contrast.tota11y-label.tota11y-label-error :hover {
    animation-play-state: paused;
    animation-iteration-count: 1;
    background-color: rgb(133, 133, 133) !important;
    /* cursor: grab !important; */
}

/* element highlighter warning glow */

/*  */

.accordion {
    font-size: 1rem !important;
    width: 30vw;
    /* margin: 0 auto; */
    margin: 2px 2px 2px 2px !important;
    border-radius: 5px;
}

.accordion-header, .accordion-body {
    background: rgb(77, 77, 77) !important;
    border-radius: 5px !important;
}

.accordion-header {
    /* padding: 1.5em 1.5em !important; */
    padding: 6px 6px 6px 10px !important;
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 6px !important;
    /* text-transform: uppercase; */
    color: white !important;
    cursor: pointer;
    font-size: .8em !important;
    letter-spacing: .1em;
    transition: all .3s;
}

.accordion-header:hover {
    background: rgb(70, 70, 70) !important;
    position: relative;
    z-index: 5;
}

.accordion-body {
    background: #929292 !important;
    color: #ffffff !important;
    padding: 10px 10px 10px 10px !important;
    display: none;
}

.accordion-body__contents {
    padding: 2px 2px 2px 2px !important;
    font-size: .85em !important;
}

.accordion__item {
    margin: 4px 0px 4px 0px !important;
}

.accordion__item.active:last-child .accordion-header {
    border-radius: none !important;
}

.accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent !important;
}

.accordion__item>.accordion-header:after {
    content: '\003E' !important;
    font-family: IonIcons !important;
    font-size: 1.2em !important;
    float: right !important;
    position: relative !important;
    top: -2px !important;
    transition: .3s all !important;
    transform: rotate(0deg) !important;
}

.accordion__item.active>.accordion-header:after {
    transform: rotate(-180deg) !important;
}

.accordion__item.active .accordion-header {
    background: #2D3D99 !important;
}

.accordion__item .accordion__item .accordion-header {
    background: rgb(90, 90, 90)!important;
    color: black !important;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 1em;
    }
    .accordion {
        width: 100%;
    }
}

/*  */

/* error code snippet css */

/*
  CUSTOM PRISM THEME
*/

code[class*="language-"], pre[class*="language-"] {
    font-size: small !important;
    cursor: text !important;
    color: #272626 !important;
    font-family: Consolas, Menlo, Monaco, 'Andale Mono', 'DejaVu Sans Mono', "Courier New", Courier, monospace !important;
    direction: ltr !important;
    text-align: left !important;
    white-space: pre-wrap !important;
    word-spacing: normal !important;
    word-break: normal !important;
    line-height: 1.5 !important;
    -moz-tab-size: 4 !important;
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
}

pre[class*="language-"] {
  
    position: relative !important;
    margin: .5em 0 !important;
    box-shadow: -1px 0px 0px 0px #1b8398, 0px 0px 0px 1px #e1dcdb !important;
    border-left: 10px solid #1b8398 !important;
    background-image: linear-gradient(transparent 50%, rgba(45, 100, 210, 0.05) 50%) !important;
    background-size: 3em 3em !important;
    background-origin: content-box !important;
    overflow: visible !important;
    max-height: 30em !important;
}

code[class*="language"] {
    max-height: inherit !important;
    height: 100% !important;
    padding: 0 1em !important;
    display: block !important;
    overflow: auto !important;
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
      /* overflow code box */
      overflow-y: auto !important;
      max-height: 150px !important;
      /* overflow code box end */
    background-color: #fcfcfb !important;
    box-sizing: border-box !important;
    margin-bottom: 1em !important;
}

:not(pre)>code[class*="language-"] {
    position: relative !important;
    padding: .2em !important;
    border-radius: 0.3em !important;
    color: #d22d2d !important;
    border: 1px solid rgba(78, 75, 75, 0.9) !important;
}

pre[class*="language-"]:before, pre[class*="language-"]:after {
    content: '' !important;
    z-index: -2 !important;
    display: block !important;
    position: absolute !important;
    bottom: 0.75em !important;
    left: 0.18em !important;
    width: 40% !important;
    height: 20% !important;
    box-shadow: 0px 13px 8px #9d9695 !important;
    -webkit-transform: rotate(-2deg) !important;
    transform: rotate(-2deg) !important;
}

:not(pre)>code[class*="language-"]:after, pre[class*="language-"]:after {
    right: 0.75em !important;
    left: auto !important;
    -webkit-transform: rotate(2deg) !important;
    transform: rotate(2deg) !important;
}

.token.comment {
    font-style: italic !important;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
    color: #686564 !important;
}

.token.punctuation {
    color: #4e4b4b !important;
}

.token.property, .token.tag, .token.tag-id, .token.boolean, .token.number, .token.function-name, .token.constant, .token.symbol {
    color: #d22d2d !important;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.function, .token.builtin {
    color: #009980 !important;
}

.token.operator, .token.entity, .token.url, .token.variable, .token.pseudo-class, .language-css .token.string, .style .token.string {
    color: #dc5a18 !important;
    background: rgba(255, 255, 255, 0.5) !important;
}

.token.atrule, .token.attr-value, .token.keyword, .token.class-name {
    color: #1b8398 !important;
}

.token.regex, .token.important {
    color: #b37700 !important;
}

.token.important {
    font-weight: normal !important;
}

.token.entity {
    cursor: help !important;
}

.namespace {
    opacity: .7 !important;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before, pre[class*="language-"]:after {
        bottom: 14px;
        box-shadow: none;
    }
}

.token.tab:not(:empty):before, .token.cr:before, .token.lf:before {
    color: #e1dcdb !important;
}

pre[class*="language-"].line-numbers {
    padding-left: 0 !important;
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em !important;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0 !important;
}

/*
  GENERAL "MEH" STYLES
*/

/* body {
  margin: 0;
  background-color: #f8f7f7;
  padding: 40px;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.col pre {
  max-height: 250px;
}

h2 {
  color: #272626;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #d22d2d;
} */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 3px !important;
    background-color: #313131 !important;
}

::-webkit-scrollbar {
    width: .75em !important;
    height: .75em !important;
    background-color: #777777 !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #e1dcdb !important;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #f7f8f7 !important;
}

/* error code snippet css end */